<mat-toolbar color="primary" style="height: 50px; padding: 3px; padding-left: 30px; padding-right: 30px;">
    <!-- This is for responsiveness: TO DO -->
    <!-- <div>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div> -->
    <div style="height: 50%;">
      <!-- logo :) -->
      <!-- <a routerLink="/"><img src="../../../assets/logo.png" alt="Tingle" style="height: 100%;"></a> -->
      <a routerLink="/">TingleCS</a>
      &nbsp; &nbsp;
        <a routerLink="/make-request" style="visibility: hidden;">Make request</a>
        &nbsp;
        <a routerLink="/" style="visibility: hidden;">Requests</a>
        &nbsp;
        <a routerLink="/" style="visibility: hidden;">Issued certificates</a>

    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end"></div>
    <div>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
          <!-- Login and Signup are hidden for KT1 -->
            <li><a routerLink="/login" style="visibility: hidden;">Login</a></li>
            <li><a routerLink="/signup" style="visibility: hidden;">Signup</a></li>
        </ul>
    </div>
</mat-toolbar>
