<mat-toolbar color="primary">
    <!-- <div>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div> -->
    <div>
        <a routerLink="/">TingleCS</a>
        &nbsp; &nbsp;
        <a routerLink="/make-request">Make request</a>
        &nbsp;
        <a routerLink="/">Requests</a>
        &nbsp;
        <a routerLink="/">Issued certificates</a>

    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end"></div>
    <div>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/">Certificate</a></li> &nbsp;
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/signup">Signup</a></li>
        </ul>
    </div>
</mat-toolbar>