<section fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" style="margin-top: 25px;"
    *ngIf="!spin && !success">
    <h1>New Certificate</h1>
    <mat-horizontal-stepper [linear]="isLinear" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" #stepper>

        <mat-step>
            <form fxFlex="80%" fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onNext1Click()">
                <ng-template matStepLabel>Choose a template</ng-template>
                <mat-card>
                    <mat-card-content>
                        <h2 class="example-h2">Choose a template</h2>
                         <mat-form-field>
                                <mat-label>Templates</mat-label>
                            <mat-select>
                                <!-- added placebo button :) -->
                                <mat-option value="noTemplate" >No template</mat-option>
                                <mat-option value="firstTemplate" (click)="selectFirstTemplate()">Digital Signature, Key Agreement</mat-option>
                                <mat-option value="secondTemplate" (click)="selectSecondTemplate()">Key Cert Sign, CRL Sign</mat-option>
                                <mat-option value="thirdTemplate" (click)="selectThirdTemplate()">Non Repudiation, Data Encipherment</mat-option>
                                <mat-option value="fourthTemplate" (click)="selectFourthTemplate()">Encipher Only, Decipher Only</mat-option>
                                <mat-option value="fifthTemplate" (click)="selectFifthTemplate()">Digital Signature</mat-option>
                                <mat-option value="sixthTemplate" (click)="selectSixthTemplate()">Digital Signature, Key Encipherment</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-card-content>
                </mat-card>
                <div>
                    <button mat-raised-button color="accent" type="button" matStepperNext>Next</button>
                </div>
            </form>

        </mat-step>

        <!----------------------------------------------------------------------------------------------------->
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup" fxFlex="80%" fxLayout="column" fxLayoutAlign="center center"
                (ngSubmit)="onNext1Click()">
                <ng-template matStepLabel>Fill out Subject Data</ng-template>
                <mat-card class="form-section" fxLayout="column">
                    <mat-card-header>
                        <mat-card-title>Subject Data</mat-card-title>
                    </mat-card-header>

                    <mat-form-field>
                        <mat-label for="commonName">Common Name: </mat-label>
                        <input id="commonName" matInput type="text" name="commonName" required formControlName="CN">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="organizationUnit">Organization Unit: </mat-label>
                        <input id="organizationUnit" matInput type="text" name="organizationUnit" required
                            formControlName="OU">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="organizationName">Organization Name: </mat-label>
                        <input id="organizationName" matInput type="text" name="organizationName" required
                            formControlName="ON">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="localityName">Locality Name: </mat-label>
                        <input id="localityName" matInput type="text" name="localityName" required formControlName="LN">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="statneName">State Name: </mat-label>
                        <input id="locstatneNameality" matInput type="text" name="statneName" required
                            formControlName="ST">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="country">Country: </mat-label>
                        <input id="country" matInput type="text" name="country" required formControlName="CO">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="email">E-Mail: </mat-label>
                        <input id="email" matInput type="email" name="email" required formControlName="E">
                    </mat-form-field>


                    <mat-slide-toggle color="primary" id="self-signed" (click)="sliderClick()" matInput>
                        Self-signed
                    </mat-slide-toggle>

                </mat-card>
                <div>
                    <button mat-raised-button color="accent" type="submit" matStepperNext
                        [disabled]="!secondFormGroup.valid">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <form [formGroup]="thirdFormGroup" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center">
                <ng-template matStepLabel>Fill out Issuer Data</ng-template>
                <mat-card class="form-section" fxLayout="column">
                    <mat-card-header>
                        <mat-card-title>Issuer Data</mat-card-title>
                    </mat-card-header>

                    <mat-form-field *ngIf="!isSelfSigned">
                        <mat-label for="ca">CA: </mat-label>
                        <!-- Selected ca is in .ts file as selectedCA -->
                        <mat-select id="ca" name="ca" formControlName="ca">
                            <mat-option *ngFor="let ca of cas" value="ca.serialNumber" (click)="onCASelected(ca)">
                                {{ca.certificateRole}} (Serial Number: {{ca.serialNumber}}, Alias: {{ca.alias}})
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div *ngIf="isSelfSigned">
                        <h2>You're about to generate a <i>self-signed</i> certificate. <br> Proceed?</h2>
                    </div>

                    <!-- Selected CA -->
                    <section *ngIf="selectedCA">
                        <table>
                            <tbody>
                                <tr>
                                    <td>CN:</td>
                                    <td><b>{{selectedCA.cn}}</b></td>
                                </tr>
                                <tr>
                                    <td>O:</td>
                                    <td><b>{{selectedCA.o}}</b></td>
                                </tr>
                                <tr>
                                    <td>OU:</td>
                                    <td><b>{{selectedCA.ou}}</b></td>
                                </tr>
                                <tr>
                                    <td>L:</td>
                                    <td><b>{{selectedCA.l}}</b></td>
                                </tr>
                                <tr>
                                    <td>ST:</td>
                                    <td><b>{{selectedCA.st}}</b></td>
                                </tr>
                                <tr>
                                    <td>C:</td>
                                    <td><b>{{selectedCA.c}}</b></td>
                                </tr>
                                <tr>
                                    <td>E:</td>
                                    <td><b>{{selectedCA.e}}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </section>

                </mat-card>
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    &nbsp;
                    <button mat-raised-button color="accent" matStepperNext
                        [disabled]="!selectedCA && !isSelfSigned">Next</button>
                </div>
            </form>

        </mat-step>
        <mat-step>
            <form [formGroup]="fourthFormGroup" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center"
                (submit)="onDoneClick()">
                <ng-template matStepLabel>Fill out Other Info</ng-template>
                <mat-card class="form-section" fxLayout="column">
                    <mat-card-header>
                        <mat-card-title>Other information</mat-card-title>
                    </mat-card-header>

                    <h3>Extensions:</h3>

                    <div fxFlex="100%" fxLayout="row">
                        <h4 fxFlex="20%">Key Usage:</h4>
                        <div fxFlex fxLayout fxLayoutAlign="flex-end"></div>
                        <mat-checkbox formControlName="criticalKeyUsage" matTooltip="Is this information critical?">
                            <mat-icon>priority_high</mat-icon>
                        </mat-checkbox>
                    </div>
                    <section fxFlex fxLayout="row" fxLayoutAlign="center center">
                        <div>
                            <mat-checkbox formControlName="digitalSignature" [(ngModel)]="isDSSelected">Digital Signature</mat-checkbox> <br>
                            <mat-checkbox formControlName="keyEncipherment" [(ngModel)]="isKESelected">Key Encipherment</mat-checkbox> <br>
                            <mat-checkbox formControlName="nonRepudiation" [(ngModel)]="isNESelected">Non Repudiation</mat-checkbox> <br>
                            <mat-checkbox formControlName="dataEncipherment" [(ngModel)]="isDESelected">Data Encipherment</mat-checkbox> <br>
                            <mat-checkbox formControlName="keyAgreement" [(ngModel)]="isKASelected">Key Agreement</mat-checkbox> <br>
                        </div>
                        <div style="width: 15px;"></div>
                        <div>
                            <mat-checkbox formControlName="keyCertSign" [(ngModel)]="isKCSSelected">Key Cert Sign</mat-checkbox> <br>
                            <mat-checkbox formControlName="crlSign" [(ngModel)]="isCRLSelected">CRLSign</mat-checkbox> <br>
                            <mat-checkbox formControlName="encipherOnly" [(ngModel)]="isEncSelected">Encipher Only</mat-checkbox> <br>
                            <mat-checkbox formControlName="decipherOnly" [(ngModel)]="isDecSelected">Decipher Only</mat-checkbox> <br>
                        </div>

                    </section>

                    <br>

                    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center center">
                        <mat-form-field *ngIf="!isSelfSigned">
                            <!-- BASIC CONSTRAINTS -->
                            <mat-label>Basic constraints - Subject type:</mat-label>
                            <mat-select id="subject-type" name="subject-type" formControlName="subjectType">
                                <mat-option value="CA" (click)="onSubjectTypeClick('CA')">
                                    CA
                                </mat-option>
                                <mat-option value="end-entity" (click)="onSubjectTypeClick('end-entity')">
                                    End-Entity
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field *ngIf="isSelfSigned">
                            <!-- If the certificate is Self-Signed, its type is CA by default -->
                            <mat-label>Basic constraints - Subject type:</mat-label>
                            <input type="text" matInput value="CA" disabled>
                        </mat-form-field>
                        <mat-checkbox formControlName="criticalBasicConstraints"
                            matTooltip="Is this information critical?">
                            <mat-icon>priority_high</mat-icon>
                        </mat-checkbox>
                    </div>


                    <!-- Extended key usage -->
                    <div id="extendedKeyUsages" fxFlex="100%" fxLayout="column">
                        <div fxFlex="100%" fxLayout="row">
                            <h4 fxFlex="50%">Extended Key Usage:</h4>
                            <div fxFlex fxLayout fxLayoutAlign="flex-end"></div>
                            <mat-checkbox formControlName="criticalExtendedKeyUsage"
                                matTooltip="Is this information critical?">
                                <mat-icon>priority_high</mat-icon>
                            </mat-checkbox>
                        </div>
                        <section fxFlex fxLayout="row" fxLayoutAlign="center center">
                            <div>
                                <mat-checkbox formControlName="clientAuth" [(ngModel)]="isClientAuth">Client Auth</mat-checkbox> <br>
                                <mat-checkbox formControlName="codeSigning" [(ngModel)]="isCodeSigning">Code Signing</mat-checkbox> <br>
                                <mat-checkbox formControlName="emailProtection" [(ngModel)]="isEmailProtection">Email Protection</mat-checkbox> <br>

                            </div>
                            <div style="width: 15px;"></div>
                            <div>
                                <mat-checkbox formControlName="ocspSigning" [(ngModel)]="isOcspSigning">OCSP Signing</mat-checkbox> <br>
                                <mat-checkbox formControlName="serverAuth" [(ngModel)]="isServerAuth">Server Auth</mat-checkbox> <br>
                                <mat-checkbox formControlName="timeStamping" [(ngModel)]="isTimeStamping">Time Stamping</mat-checkbox> <br>
                            </div>

                        </section>
                    </div>


                    <mat-form-field>
                        <mat-label>Password:</mat-label>
                        <input id="password" matInput type="password" name="password" formControlName="password">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Alias:</mat-label>
                        <input id="alias" matInput type="text" name="alias" formControlName="alias">
                    </mat-form-field>

                </mat-card>
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                    <!-- [disabled]="!thirdFormGroup.valid" -->
                    &nbsp;
                    <button mat-raised-button color="accent" type="submit">Done</button>
                </div>
            </form>

        </mat-step>

    </mat-horizontal-stepper>

</section>

<div *ngIf="spin" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" style="margin-top:25px">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
    <h1 style="margin-top: 15px">Just a little moment...</h1>
    <h3>Your request is being processed.</h3>
</div>

<div *ngIf="success && !spin" fxFlex="100%" fxLayout="column" fxLayoutAlign="center center"
    style="margin-top:25px; text-align: center;">
    <h1>Success</h1>
    <h3>Certificate successfully issued.</h3>
    <h4>Back to <a routerLink="../home-page">Home page</a></h4>
</div>
