<div class="table-container" fxLayout fxLayoutAlign="center">
    <table class="table table-hover table-sm"
    fxFlex="80%">
        <thead >
            <tr height="40px">
                <th>Serial number</th>
                <th>Alias</th>
                <th>Active</th>
                <th>Certificate authority</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let certificate of certificates" style="cursor: pointer" (click)="onCertificateDetails(certificate)">   
                        <td>{{certificate.serialNumber}}</td>  
                        <td>{{certificate.alias}}</td>
                        <td>{{certificate.active ? "Yes" : "No"}}  </td>
                        <td><i> {{certificate.certificateRole}} </i></td>  
                 </tr>   
        </tbody><br>
    </table>
</div>
