<table class="table table-hover table-sm" style='font-size:130%'>
    <thead class="thead-light" style="size: 50px;">
        <tr height="50">
            <th>Id</th>
            <th>Serial number</th>
            <th>Alias</th>
            <th>Active</th>
            <th>Role</th>

        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let certificate of certificates">  
                    <td>{{certificate.id}}</td>  
                    <td>{{certificate.serialNumber}}</td>  
                    <td>{{certificate.alias}}</td>
                    <td>{{certificate.active}}</td>
                    <td>{{certificate.role}}</td>  
             </tr>    -->
    </tbody><br>
</table>