<section class="admin-home-banner">
  <h1>Welcome to Tingle!</h1>
</section>
<section class="admin-home-content">
  <div class="container" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
    <mat-card class="matcard" fxFlex="30%">
      <mat-card-header>
        <mat-card-title>View all Certificates</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Here you can find a list of all existing certificates in the system.
          Click View to see details.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="../all-certificates">View</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="matcard" fxFlex="30%">
      <mat-card-header>
        <mat-card-title>Issue a Certificate</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          You can issue a new certificate by filling in all neccessary details.
          Click View to proceed.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="../issue">View</button>
      </mat-card-actions>
    </mat-card>
  </div>

</section>
